<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <template v-for="(select, index) in selects">
            <span>/</span>
            <select v-model="selectedCategories[index]" @change="categoryChanged(index)">
                <option :value="null" v-if="index === 0">Select Category</option>
                <option :value="null" v-else>Select Subcategory</option>
                <option v-for="option in select" :value="option">{{ option.name }}</option>
            </select>
        </template>
        <div>
            Selected Category Path: {{ selectedCategories.filter(category => category !== null).join(' / ') }}
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                categories: [{
                    name: 'Category 1',
                    subcategories: [{
                        name: 'Subcategory 1-1',
                        subcategories: [{
                            name: 'Subcategory 1-1-1',
                            subcategories: [{
                                name: 'Subcategory 1-1-1-1',
                                subcategories: []
                            }]
                        }, {
                            name: 'Subcategory 1-1-2',
                            subcategories: []
                        }]
                    }]
                }, {
                    name: 'Category 2',
                    subcategories: []
                }],
                selectedCategories: [null],
                selects: []
            },
            methods: {
                categoryChanged(index) {
                    // Remove subsequent selects if a category is changed
                    this.selectedCategories.splice(index + 1);
                    this.selects.splice(index + 1);

                    const selectedCategory = this.selectedCategories[index];
                    if (selectedCategory !== null) {
                        if (selectedCategory.subcategories.length > 0) {
                            this.selectedCategories.push(null);
                            this.selects.push(selectedCategory.subcategories);
                        }
                    }
                }
            },
            created() {
                if (this.categories.length > 0) {
                    this.selects.push(this.categories);
                }
            }
        });
    </script>
</body>