<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="categories">
        <category_picker :categories="[{
            name: 'Category 1',
            subcategories: [{
                name: 'Subcategory 1-1',
                subcategories: [{
                    name: 'Subcategory 1-1-1',
                    subcategories: [{
                        name: 'Subcategory 1-1-1-1',
                        subcategories: []
                    }]
                }, {
                    name: 'Subcategory 1-1-2',
                    subcategories: []
                }]
            }]
        }, {
            name: 'Category 2',
            subcategories: []
        }]" :selected_path="'Category 1/Subcategory 1-1/Subcategory 1-1-1'"></category_picker>
    </div>

    <script>
        Vue.component('category_picker', {
            props: ['categories', 'selected_path'],
            template: `
            <div>
            <template v-for="(select, index) in selects">
            <span>/</span>
            <select v-model="selectedCategories[index]" @change="categoryChanged(index)">
                <option :value="null" v-if="index === 0">Select Category</option>
                <option :value="null" v-else>Select Subcategory</option>
                <option v-for="option in select" :value="option">{{ option.name }}</option>
            </select>
        </template>
        <div>
            {{ JSON.stringify(selectedCategories) }}
        </div>
        </div>
        `,
            mounted() {
                this.$emit('input', this.selectedCategories);
                this.loadPath();
            },
            data: () => ({
                selectedCategories: [null],
                selects: []
            }),
            methods: {
                categoryChanged(index) {
                    // Remove subsequent selects if a category is changed
                    this.selectedCategories.splice(index + 1);
                    this.selects.splice(index + 1);

                    const selectedCategory = this.selectedCategories[index];
                    if (selectedCategory !== null) {
                        if (selectedCategory.subcategories.length > 0) {
                            this.selectedCategories.push(null);
                            this.selects.push(selectedCategory.subcategories);
                        }
                    }
                },
                loadPath() {
                    const path = this.selected_path.split('/');
                    this.selectedCategories = path.map((name, index) => {
                        const category = this.selects[index].find(category => category.name === name);
                        if (category) {
                            this.selects.push(category.subcategories);
                            return category;
                        }
                        return null;
                    });
                }
            },
            created() {
                if (this.categories.length > 0) {
                    this.selects.push(this.categories);
                }
            }
        });


        new Vue({
            el: '#categories',
        });
    </script>
</body>