<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>


<body>
    <div id="search_notifications">
        <div>
            <div v-for="notification in notifications" :key="notification.id">
                <h2>{{ notification.marketplace }}</h2>
                <ul>
                    <li v-for="query in notification.queries" :key="query.id">
                        <input type="text" v-model="query.query">
                        <button @click="deleteQuery(notification.id, query.id)">Delete</button>
                    </li>
                </ul>
            </div>
            <div> {{notifications[0].queries[0].query}}</div>
        </div>

    </div>

    <script>
        new Vue({
            el: '#search_notifications',
            data: {
                notifications: [{
                    marketplace: "test",
                    id: 1,
                    queries: [{
                        "query": "test",
                        "id": 1111
                    }, {
                        "query": "test2",
                        "id": 2222
                    }, {
                        "query": "test3",
                        "id": 3333
                    }]
                }, {
                    marketplace: "test2",
                    id: 2,
                    queries: [{
                        "query": "test",
                        "id": 1111
                    }, {
                        "query": "test2",
                        "id": 2222
                    }, {
                        "query": "test3",
                        "id": 3333
                    }]
                }, {
                    marketplace: "test3",
                    id: 3,
                    queries: [{
                        "query": "test",
                        "id": 1111
                    }, {
                        "query": "test2",
                        "id": 2222
                    }, {
                        "query": "test3",
                        "id": 3333
                    }]
                }],
            },
            methods: {
                deleteQuery(notificationId, queryId) {
                    const notification = this.notifications.find(notification => notification.id === notificationId);
                    notification.queries = notification.queries.filter(query => query.id !== queryId);
                }
            }
        });
    </script>
</body>